@charset "UTF-8";

@media (min-width: 992px) {  


  :root {
      
    /*### Primary*/
  
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
  
    /*### Neutral*/
  
    --White: hsl(0, 0%, 100%);
    --Very_light_grayish_blue: hsl(210, 60%, 98%);
    --Light_grayish_blue_1: hsl(211, 68%, 94%);
    --Light_grayish_blue_2: hsl(205, 33%, 90%);
    --Grayish_blue: hsl(219, 14%, 63%);
    --Dark_grayish_blue: hsl(219, 12%, 42%);
    --Very_dark_blue: hsl(224, 21%, 14%);
         
    --Plus_Jakarta:'Plus Jakarta Sans', sans-serif;
  
  }
  
  body {
    font-family: var(--Plus_Jakarta);
    font-size: 16px;
    color: var(--Dark_grayish_blue);
    background-color: var(--Light_grayish_blue_1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container_01 {
    background-color: var(--White);
    padding: 20px;
    border-radius: 20px;
    width: 700px;
  }

  /* header */
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  .header_box_01 {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    color: var(--Very_dark_blue);
  }
  
  #notifications-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 24px;
    border-radius: 5px;
    background-color: var(--Blue);
    color: var(--White);
    margin-left: 10px;
    font-size: 15px;
  }
  
  #mark_as_read {
    color: var(--Dark_grayish_blue);
  }
  
  #mark_as_read:hover {
    cursor: pointer;
    color: var(--Blue);
    font-weight: 700;
  }
  
  /* main */
  
  .box {
    display: flex;
    margin: 10px 0px;
    padding: 10px;
  }
  
  img {
    width: 35px;
    height: 35px;
  }
  
  .content_box {
    margin-left: 10px;
  }
  
  .phrase_box {
    display: flex;
  }
  
  .name {
    font-weight: 800;
    color: var(--Very_dark_blue);
  }
  
  .name:hover {
    cursor: pointer;
    color: var(--Blue);
  }
  
  .date {
    color: var(--Grayish_blue);
  }
  
  .strong_font {
    font-weight: 700;
  }
  
  .strong_font:hover {
    cursor: pointer;
    color: var(--Blue);
  }
  
  .comment_box {
    border: 1px solid var(--Grayish_blue);
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .comment_box:hover {
    background-color: var(--Light_grayish_blue_2);
  }
  
  a {
    color: var(--Blue);
    font-weight: 700;
    text-decoration: none;
  }
  
  .image-chess {
    margin-left: 225px;
  }

  .image-chess:hover {
    cursor: pointer;
  }
  
  /* jquery */
  
  .red_point {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--Red);
    border-radius: 100%;
    margin-left: 4px;
  }
  
  .box_01 ,.box_02 ,.box_03 {
    background-color: var(--White);
  }
  
  .background_color_notification {
    background-color: var(--Light_grayish_blue_1);
    border-radius: 10px;
  }
  }
  
  
  
