@charset "UTF-8";

@media (min-width: 991px) { 
    
    :root {
        /* ### Colors */
        --White: #ffffff;
        --Green: #82dbc1;
        --Black: #000000;
        --Bg-Green: #78762c;

        --Comme: 'Comme', sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
      }

    body {
        margin: 0;
        padding: 0;
        font-family: var(--Comme);
    }

    /* Header */

    header {
        font-size: 14px;
        padding: 15px 5%;
        background-color: var(--Bg-Green);
        color: var(--Black);
        box-shadow: 0px 2px 20px #000000a1;
        position: relative;
        z-index: 1;
    }

    header .logo {
        width: 100px;
        position: absolute;
        transform: translateY(-15%);
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
    }

    .nav_link {
        display: flex;
        justify-content: space-between;
        width: 500px;
    }

    nav a {
        text-decoration: none;
        color: #f3d59f;
        padding: 10px;
        position: relative;
      }
      
      nav a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-500%);
        width: 0%;
        height: 1px;
        background-color: #f3d59f;
        transition: width 0.3s ease-in-out;
      }
      
      nav a:hover::before {
        width: 50%;
      }
      

    .fotoHeader {
        width: 100%;
    }

    /* Main */
    /* Container 01 */

    .title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      opacity: 0;
      animation: fade-in 2s forwards;
      font-size: 500%;
      color: #f3d59f;
      text-shadow: 1px 1px 20px black;
    }

    .title div {
      font-size: 50%;
    }
    
    @keyframes fade-in {
      from {
        top: 0;
        opacity: 0;
      }
      to {
        top: 40%;
        opacity: 1;
      }
    }    

    .asturiasPic {
        width: 100%;
        z-index: 0;
    }

    .container_01_main {
        padding: 100px 10%;
        display: flex;
        margin: auto;
    }

    .fotoPaginaInicial {
        width: 250px;
        height: 250px;
    }

    .content_box_main {
        margin-left: 20px;
    }
        /* Container 02 */

        .container_02_main {
            padding: 0 10%;
        }

        .container_02_main h1 {
            text-align: center;
            font-size: 40px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 10px;
            justify-items: center;
            align-items: center;
          }
          
          .grid-item {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
          }
          
          .grid-item img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

           /* Hover Galeria Images */

          .image-container {
            position: relative;
            width: 100%;
            transition: opacity 0.2s ease-in-out;
          }
          
          .image-container img {
            width: 100%;
            height: auto;
            display: block;
          }
          
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }
          
          .overlay i {
            font-size: 3rem;
            color: #fff;
            transform: translateY(250%);
          }
          
          .image-container:hover .overlay {
            opacity: 1;
          }
          
          .image-container:hover {
            opacity: 0.5;
          }

          /* Container 03 */

        .container_03_main {
            padding: 100px 10%;
        }

        .container_03_main h1 {
            text-align: center;
            font-size: 40px;
        }

        .container_03_main button {
            font-family: var(--Comme);
        }

        .container_03_main button span {
            margin-left: 100px;
        }

        .content_info_RutasyPrecios {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
        }

        .info_RutasyPrecios img {
          width: 400px;
        }

        .container {
            position: relative;
          }
          
          .btn-dropdown {
            background-color: var(--Bg-Green);
            color: #fff;
            padding: 12px 100px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 400px;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #f9f9f9;
            padding: 12px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            width: 375px;
          }
          
          .show {
            display: block;
          }
          

         /* Container 04 */
         .container_04_main {
           padding: 50px 10%;
        }

        .container_04_main h1 {
          display: flex;
          justify-content: center;
        }

        .container_04_main a {
          text-decoration: none;
          cursor: pointer;

        }

        .container_04_main button {
          display: block;
          margin: auto;

          width: 380px;
          height: 70px;
          border: none;
          background-color: var(--Bg-Green);
          border-radius: 5px;
          font-family: var(--Comme);
          font-size: 25px;
          padding: 0 40px;
          cursor: pointer;
          color: var(--White);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
        }

        .container_04_main button:hover {
          background-color: #696725;
        }

    /* Footer */

    footer {
        background-color: var(--Bg-Green);
        padding: 10px 5%;
        box-shadow: 0px 2px 20px #000000a1;
        position: relative;
        z-index: 1;

        text-align: center;
    }

    footer .logo {
        width: 100px;
        height: 100px;
    }

    ul {
        padding: 0;
    }

    .tittle_social_media {
        font-size: 25px;
        margin-bottom: 5px;
        color: #f3d59f;
    }

    .box_of_icons_media {
        display: flex;
        justify-content: space-around;
        width: 250px;
        margin: auto;
        margin-top: 20px;
    }

    .fa-facebook, .fa-instagram ,.fa-youtube {
        font-size: 20px;
        color: #f3d59f;
        background-color: #00000015;
        padding: 10px;
        border-radius: 100%;
        transition: font-size 0.2s ease-out;
    }

    .fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover {
        font-size: 25px;
      }

}
