@charset "UTF-8";

@media (max-width: 991px) {  

:root {
      
  /*### Primary*/

  --Strong_cyan: hsl(172, 67%, 45%);
  
  /*### Neutral*/
  
  --Very_dark_cyan: hsl(183, 100%, 15%);
  --Dark_grayish_cyan: hsl(186, 14%, 43%);
  --Grayish_cyan: hsl(184, 14%, 56%);
  --Light_grayish_cyan: hsl(185, 41%, 84%);
  --Very_light_grayish_cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
       
  --Space_Mono:'Space Mono', sans-serif;
       
}
       
body {
    background-color: var(--Light_grayish_cyan);
    height: 933px;
    font-family: var(--Space_Mono);
}

img {
  display: block;
  margin: 40px auto;
}

/* Calculator */

.container {
  background-color: var(--White);
  border-radius: 20px 20px 0px 0px;
  width: 375px;
  height: 100%;
  padding: 20px;
  color: var(--Dark_grayish_cyan);
}

.form-group label {
  margin-bottom: 5px;
}

.text_tip {
  margin-top: 20px;
}

.box_tip_02 {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 375px;
  margin-bottom: 20px;
  margin-left: -20px;
}

button {
  width: 165px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;

  color: white;
  background-color: var(--Very_dark_cyan);
  font-size: 22px;
}

button:hover {
  color: var(--Very_dark_cyan);
  background-color: var(--Strong_cyan);
}

#custom {
  width: 165px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;

  background-color: var(--Very_light_grayish_cyan);
  padding-right: 10px;
  color: var(--Very_dark_cyan);
}

#custom::placeholder {
  color: var(--Dark_grayish_cyan);
  font-size: 22px;
}

#bill {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  color: var(--Very_dark_cyan);
  background-color: var(--Very_light_grayish_cyan);
  border: none;
}

#people {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  color: var(--Very_dark_cyan);
  background-color: var(--Very_light_grayish_cyan);
  border: none;
}

/* Result */

.result {
  background-color: var(--Very_dark_cyan);
  color: var(--White);
  border-radius: 20px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.box_result {
  display: flex;
  justify-content: space-between;
}

.box_result h4 {
  font-size: 17px;
}

.box_result h4 div {
  font-size: 14px;
  margin-top: 10px;
  color: var(--Grayish_cyan);
}

.box_result p {
  color: var(--Strong_cyan);
  font-size: 30px;
}

.result button {
  width: 100%;
  background-color: var(--Strong_cyan);
  color: var(--Very_dark_cyan);
  border: none;
}

.result button:hover {
  background-color: var(--Light_grayish_cyan);
  color: var(--Very_dark_cyan);
}

.button_empty {
  opacity: 0.5;
}

.border_cyan {
  border: 2px solid var(--Strong_cyan) !important;
}

/* jquery */

.error {
  border: 2px solid red !important;
}

.error_msg {
  display: none;

  color: red;
  font: 13px;
  position: absolute;
  transform: translate(160%,0%);
}

}

